#banner-aboutus-page {
  background: url('chesse-images/banner-aboutus-page.jpg') no-repeat;
  background-position: center;
  background-size: 100% calc(100vh - 150px);
}
.about-header {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.about-descrip-container {
  margin: 60px auto;
  width: 60%;
}
.about-descrip {
  font-size: 1.2em;
  text-align: justify;
  margin: 30px auto;
}

/* Desktop layout - screen width greater than 1024px */
@media (min-width: 1025px) {
 
}

/* Tablet layout - screen width between 1024px and 641px */
@media (min-width: 641px) and (max-width: 1024px) {
  #banner-aboutus-page {
    background-size: 100% calc(100vh - 120px); 
  }
  .about-descrip-container {
    margin: 50px auto;
    width: 80%;
  }
}

/* Mobile layout - screen width less than 641px */
@media (max-width: 640px) {
  #banner-aboutus-page {
    background: url('chesse-images/banner-aboutus-page-small.jpg') no-repeat;
    background-size: 100% calc(100vh - 80px); 
  }
  .about-descrip-container {
    margin: 30px auto;
    width: 80%;
  }
  .about-header {
    font-size: 38px;
  }
}