#banner-aboutus-page {
  background: url('chesse-images/banner-aboutus-page.jpg') no-repeat;
  background-position: center;
  background-size: 100% calc(100vh - 150px);
}
.about-header {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.about-descrip-container {
  margin: 60px auto;
  width: 60%;
}
.about-descrip {
  font-size: 1.2em;
  text-align: justify;
  margin: 30px auto;
}