#banner-contact-page {
  background: url('chesse-images/banner-contact-page.jpg') no-repeat;
  background-size: 100% calc(100vh - 150px);
}
.contact-header {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.person-tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}
.person-tile {
  position: relative;
  flex: 0 0 25%;
  margin: auto 40px;
  padding: 0px 40px;
}
.person-image {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
#person-image-1 {
  background: url('chesse-images/person1-aboutus-page.png') no-repeat;
  background-size: cover;
}
#person-image-2 {
  background: url('chesse-images/person2-aboutus-page.jpg') no-repeat;
  background-size: cover;
}
.person-descrip {
  text-align: center;
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: 600;
  color: #F48924;
  margin-top: 20px;
}
.person-content {
  color: black;
  padding: 0 20px;
  line-height: 1.5;
}
input, textarea {
  width: calc(100% - 18px);
  padding: 8px;
  border: 1px solid black;
  outline: none;
}
input::placeholder, textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #666;
}
button {
  padding: 10px;
  border: none;
  background: #F85A40; 
  font-size: 1.1em;
  color: #fff;
  border-radius: 8px;
}
button:hover {
  background: #f78c7b;
  cursor: pointer;
}
.form-contact {
  width: 40%;
  min-width: 400px;
  margin: 30px auto;
  padding: 25px 45px;
  box-shadow: 0 2px 5px #f5f5f5; 
  background: #f5f5f5; 
  border-radius: 6px;
}
.form-header {
  margin: 0 0 20px;
  font-size: 3em;
  font-weight: 500;
  color: #F85A40;
}
.item {
  position: relative;
  margin: 10px 0 20px 0;
}
.item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #333;
  color: #333;
}
.item-title {
  margin-bottom: 10px;
}
.item-fullname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-fullname .item-container {
  width: calc(50% - 40px);
}
.item-error {
  margin-top: 5px;
  font-size: 0.8em;
  color: red;
  display: none;
}
.form-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-btn {
  width: 100px;
}

/* Desktop layout - screen width greater than 1024px */
@media (min-width: 1025px) {
 
}

/* Tablet layout - screen width between 1024px and 641px */
@media (min-width: 641px) and (max-width: 1024px) {
  #banner-contact-page {
    background-size: 100% calc(100vh - 120px); 
  }
  .person-image {
    height: 250px;
  }
  .form-contact {
    width: 60%;
    min-width: 200px;
  }
  .form-header {
    font-size: 2.8em;
  }
  .item-fullname .item-container {
    width: calc(50% - 20px);
  }
}

/* Mobile layout - screen width less than 641px */
@media (max-width: 640px) {
  #banner-contact-page {
    background: url('chesse-images/banner-contact-page-small.jpg') no-repeat;
    background-size: 100% calc(100vh - 80px); 
  }
  .person-tiles {
    margin: 30px auto;
  }
  .person-tile {
    flex: 0 0 50%;
    margin-top: 30px;
  }
  .person-image {
    height: 300px;
  }
  .form-contact {
    width: 60%;
    min-width: 200px;
  }
  .form-header {
    font-size: 2.8em;
  }
  .item-fullname .item-container {
    width: calc(50% - 10px);
  }
}