#banner-home-page {
  background: url('chesse-images/banner-home-page.jpg') no-repeat;
  background-size: 100% calc(100vh - 150px); 
}
#banner-home-page-1 {
  background: url('chesse-images/banner1-home-page.jpg') no-repeat;
  background-size: 100% calc(100vh - 150px); 
}
#banner-home-page-2 {
  background: url('chesse-images/banner2-home-page.jpg') no-repeat;
  background-size: 100% calc(100vh - 150px); 
}
.jumbotron-title-container {
  position: absolute;
  top: 50%;
  width: 33%;
  padding: 10px 20px;
  margin-left: 4%;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px; 
}
.jumbotron-title {
  color: white;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}
.jumbotron-body {
  color: white;
  font-size: 1.2em;
  text-align: justify;
  margin-top: 10px;
}
.dish-tiles-header {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 40px;
}
.dish-tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.dish-tile {
  position: relative;
  flex: 0 0 27%;
  margin-bottom: 15px;
  padding: 0px 30px;
}
.dish-image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
#dish-image-1 {
  background: url('chesse-images/dish1-home-page.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
#dish-image-2 {
  background: url('chesse-images/dish2-home-page.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
#dish-image-3 {
  background: url('chesse-images/dish3-home-page.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
.dish-descrip {
  text-align: center;
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: 600;
  color: #F48924;
}
.tile-container:hover {
  width: 103%;
  opacity: 0.9;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.slide {
  width: 100%;
}
.slider-buttons {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.slider-button {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 6px;
  background-color: white;
  border-color: e8e8e8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 10;
}
.slider-button.active, .slider-button:hover {
  background-color: #a8a8a8;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* Desktop layout - screen width greater than 1024px */
@media (min-width: 1025px) {
 
}

/* Tablet layout - screen width between 1024px and 641px */
@media (min-width: 641px) and (max-width: 1024px) {
  #banner-home-page, #banner-home-page-1, #banner-home-page-2 {
    background-size: 100% calc(100vh - 120px); 
  }
  .jumbotron-title-container {
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
  }
  .jumbotron-title {
    font-size: 44px;
  }
  .slider-buttons {
    margin-top: -40px;
  }
  .slider-button {
    height: 20px;
    width: 20px;
  }
  .dish-tiles-header {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px 0 20px;
  }
  .dish-tiles {
    justify-content: space-around;
  }
  .dish-tile {
    flex: 0 0 35%;
    margin-bottom: 50px;
  }
  .dish-image {
    height: 250px;
  }
  .dish-descrip {
    font-size: 1.6em;
  }
}

/* Mobile layout - screen width less than 641px */
@media (max-width: 640px) {
  #banner-home-page {
    background: url('chesse-images/banner-home-page-small.jpg') no-repeat;
    background-size: 100% calc(100vh - 80px); 
  }
  #banner-home-page-1 {
    background: url('chesse-images/banner1-home-page-small.jpg') no-repeat;
    background-size: 100% calc(100vh - 80px); 
  }
  #banner-home-page-2 {
    background: url('chesse-images/banner2-home-page-small.jpg') no-repeat;
    background-size: 100% calc(100vh - 80px); 
  }
  .jumbotron-title-container {
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
  }
  .jumbotron-title {
    font-size: 38px;
  }
  .slider-buttons {
    display: none;
  }
  .dish-tiles-header {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
  }
  .dish-tiles {
    justify-content: space-around;
  }
  .dish-tile {
    flex: 0 0 60%;
    margin-bottom: 30px;
  }
  .dish-image {
    height: 250px;
  }
  .dish-descrip {
    font-size: 1.5em;
  }
}