body {
  font-size: 16px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.default-container {
  height: 100%;
  padding-right: 30px;
  padding-left: 30px;
}
.body-container {
  min-height: calc(100vh - 150px);
}
.body-container .jumbotron {
  height: calc(100vh - 150px);
  min-height: 600px;
  width: 100%;
}
table, th, td {
  border: 1px solid black;
}
td {
  text-align: center;
}
th, td {
  padding: 8px 6px 8px 6px;
}
/* HEADER */
.navbar {
  background-color: #F85A40;
  border-color: #e7e7e7;
  height: 150px;
  padding: 0 200px 0 200px;
}
.navbar > .default-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-container > a {
  color: #000000;
}
.navbar > div > .navbar-item {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar > div > .navbar-item:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin-bottom: 5px;
}
#logo-img {
  background: url('chesse-images/logo.jpg') no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px 15px 10px 15px;
}
#logo-img:hover {
  opacity: 0.8;
}
/* END HEADER */

/* FOOTER */
.footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 0 200px 0 200px;
}
#address, #business {
  line-height: 2;
}
#business > span, #address > span {
  font-size: 1.4em;
}
#business > a {
  color: white;
  text-decoration: none;
}
#business > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
#copyright {
  text-align: center;
}
/* END FOOTER */