body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
.default-container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
.navbar {
  background-color: #C27BA0;
  border-color: #e7e7e7;
  color: #777;
  height: 150px;
}
.navbar > .default-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-container > a {
  color: #000000;
}
#logo-img {
  background: url('../chesse-images/logo.jpg') no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 15px;
}
/* END HEADER */

/* FOOTER */
.footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
/* END FOOTER */